/* Write your CSS code here */
.cart-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart-image {
  height: 230px;
  width: 180px;
}

.cart-heading {
  color: #1e293b;
  font-family: 'roboto';
  font-size: 45px;
  font-weight: bold;
}
